<% content_for :title, "Todos" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center mb-6">
    <h1 class="font-bold text-4xl">Todos</h1>
  </div>

  <%= render "todos/new_todo_form", todo: Todo.new %>

  <div id="todos" class="space-y-3">
    <% if @todos.any? %>
      <% @todos.each do |todo| %>
        <%= render "todos/todo_row", todo: todo %>
      <% end %>
    <% else %>
      <p class="text-center my-10 text-gray-500">No todos found. Add your first todo above!</p>
    <% end %>
  </div>
</div>
